<div class="input-group mb-3">

    <input [(ngModel)]="task" type="text" class="form-control" placeholder="Type your task here!" aria-describedby="button-addon2">
    <button (click)="addTaskToList()" class="btn btn-primary" [disabled]="task.length < 5" type="button" id="button-addon2">
        <i class="fa fa-plus"></i>
    </button>
  </div>

  <div class="row">
    <div class="col-6 offset-3" >
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of taskList; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{t}}</td>
                <td>
                    <button (click)="deleteTask(i)" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
